.logo-wrapper{
    position: relative;
}
.nash-logo{
    font-family: 'Muli', sans-serif;
    font-size: 130px;
    color: #3d3d3d;
    position: relative;
}
.nash-smalllogo{
    font-family: 'Muli', sans-serif;
    color: #3d3d3d;
}
.poweredByPumpFake{
    margin-top: -36px;
    font-weight: 100;
}
.nash-centerize{
    text-align: center;
}
.jumbotron.nash-centerize {
    border-radius: 2px;
}

.nash-main-article .nash-article{
    padding: 5px 20px 10px;
}
.nash-main-article{
    text-align: center;
}
.nash-text{
    color: #80047f;
}
a.nash-text{
    text-decoration: underline;
}
footer{
    margin: 50px 0 40px;
    text-align: right;
}
