html, body {
    width: 100%;
    height: 100%;
    min-height: 480px;
    min-width: 480px;
}
button{
    outline: none !important;
}

/* General layout */
#nash-container {
    width: 100%;
    height: 100%;
}

#nash-header {
    height: 70px;
    border-bottom: 1px solid transparent; /*#e0e0e0*/
}

#nash-body {
    position: absolute;
    top: 71px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* patch */
.nash-noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nash-btn{
    background: #80047f;
    border-color: purple;
}
.nash-btn:hover, .nash-btn:focus, .nash-btn:active{
    background: #6f5499;
    border-color: #563d7c;
}
.nash-btn:active{
    box-shadow: 0 2px 2px rgb(102, 7, 102) inset;
}
.modal-backdrop{
    background: #efefef;
}

/* Modal Transitions */
@-webkit-keyframes newTaskModalTrans {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform:  perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }
    68% {
        -webkit-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}
@keyframes newTaskModalTrans {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }
    68% {
        -webkit-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}
.newTaskModalTrans {
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: newTaskModalTrans;
    animation-name: newTaskModalTrans;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
}
.modal.fade .modal-dialog{
    -webkit-transition: -webkit-transform .1s ease-out;
    -o-transition: -o-transform .1s ease-out;
    transition: transform .1s ease-out;
}


/* Header */
.nash-header-content {
    position: relative;
    height: 100%;
    padding: 10px;
}
.nash-header-content .nash-header-datedisplay {
    font-size: 36px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    letter-spacing: -1px;
}
.nash-header-content .nash-header-datedisplay .nash-header-datedisplay-year {
    font-weight: 100;
}

.nash-header-content .nash-header-calendarType {
    width: 200px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 18px;
}
.nash-header-content .nash-header-calendarType button.active {
    cursor: default;
}

.nash-header-content .nash-header-switchView {
    display: inline-block;
    float: right;
    height: 100%;
    line-height: 50px;
}
.nash-header-content .nash-header-switchView #nash-header-switchView-btn {
    font-size: 32px;
    line-height: 50px;
    cursor: pointer;
    color: #666;
    transition: color .15s;
}
.nash-header-content .nash-header-switchView #nash-header-switchView-btn:hover {
    color: #80047f;
}

.nash-header-content .nash-calendar-dateNav{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: white;
    border: 1px solid #adadad;
}
.nash-header-content .nash-calendar-dateNav:hover{
    background: #e6e6e6;
}
.nash-header-content .nash-calendar-dateNav:active{
    box-shadow: 0 2px 2px #aaa inset;
}
.nash-header-content .nash-calendar-dateNav i{
    font-size: 16px;
}

/* Calendar */
.nash-calendar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    /*position: relative;
    box-sizing: border-box;*/
}

/* Month */
.nash-calendar-container .nash-calendar-month,
.nash-calendar-container .nash-calendar-month .nash-calendar-month-container{
    width: 100%;
    height: 100%;
}

.nash-calendar-container .nash-calendar-month .nash-calendar-month-container{

}
.nash-calendar-container .nash-calendar-month .nash-calendar-month-table{
    width: 100%;
    min-width: 480px;
    table-layout: fixed;
    height: 100%;
    border-collapse: collapse;
}
.nash-calendar-container .nash-calendar-month .nash-calendar-month-table thead{
    border-bottom: 2px solid #d0d0d0;
}
.nash-calendar-container .nash-calendar-month .nash-calendar-month-table thead th{
    text-align: right;
    padding: 10px 5px 2px;
    font-size: 18px;
    font-weight: normal;
}
#nash-calendar-daysinmonth tr td:first-child{
    /* Sunday */
    border-left: none;
    background: #fafafa;
    border-color: #e9e9e9;
}
#nash-calendar-daysinmonth tr td:last-child{
    /* Saturday */
    border-right: none;
    background: #fafafa;
    border-color: #e9e9e9;
}
#nash-calendar-daysinmonth .nash-dayInMonth{
    text-align: right;
    position: relative;
    border: 1px solid #efefef;
    vertical-align: top;
}
#nash-calendar-daysinmonth .nash-dayInMonth .nash-dayInMonth-date{
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.nash-calendar-container .nash-dayInMonth.nash-dayInMonth-today .nash-dayInMonth-date{
    background: #80047f;
    border-radius: 30px;
    color: white;
}
.nash-calendar-container .nash-dayInMonth.nash-dayInMonth-past{
    opacity: 0.6;
}
.nash-calendar-container .nash-dayInMonth.nash-dayInMonth-future{
    transition: background .1s linear;;
}
.nash-calendar-container .nash-dayInMonth.nash-dayInMonth-future:hover{
    background: #fefefe;
}
#nash-calendar-daysinmonth .nash-dayInMonth .nash-dayInMonth-container{
    padding: 2px 4px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.nash-calendar-container .nash-dayInMonth .nash-dayInMonth-addTaskToDate{
    display: none;
    transition: all linear .15s;
    opacity: 0.8;
}
.nash-calendar-container .nash-dayInMonth .nash-dayInMonth-addTaskToDate:hover{
    color: #80047f;
    opacity: 1;
    cursor: pointer;
}
.nash-calendar-container .nash-dayInMonth.nash-dayInMonth-future .nash-dayInMonth-addTaskToDate{
    display: inline-block;
}
.nash-calendar-container .nash-dayInMonth .nash-dayInMonth-tasks{
    text-align: left;
}
.nash-calendar-container .nash-dayInMonth .nash-dayInMonth-task{
    display: inline-block;
    width: 24px;
    height: 24px;
    color: white;
    border-radius: 24px;
    font-size: 16px;
    text-align: center;
    margin: 2px 1px;
}
.nash-calendar-container .nash-dayInMonth .nash-dayInMonth-task.taskCompleted{
    opacity: 0.35;
}

.nash-task-type-work{
    background: #44444F;
}
.nash-task-type-learn{
    background: #66A8E8;
}
.nash-task-type-play{
    background: #EC4571;
}
.nash-task-type-sport{
    background: #eca33b;
}

/* Day */
.nash-calendar-container .nash-calendar-day{

}
.nash-calendar-container .nash-calendar-day #nash-addTaskToDate-btn{
    transition: all linear .15s;
    cursor: pointer;
    opacity: 0.8;
    text-align: right;
    font-size: 66px;
    float: right;
}
.nash-calendar-container .nash-calendar-day #nash-addTaskToDate-btn:hover{
    color: #80047f;
    opacity: 1;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks{
    margin: 40px auto;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task{
    display: inline-block;
    margin: 4px;
    color: white;
    width: 160px;
    height: 160px;
    border-radius: 160px;
    text-align: center;
    padding: 28px 15px;
    transition: all linear .15s;
    overflow: hidden;
    opacity: 0;
    position: relative;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks.entered .nash-calendar-day-task {
    opacity: 1;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks.entered .nash-calendar-day-task.taskCompleted {
    opacity: 0.6;
}

.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task.taskCompleted.nash-task-type-work {
    border: 1px solid #444;
    box-shadow: 0 -1px 2px #555 inset;
}

.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task.taskCompleted.nash-task-type-learn {
    border: 1px solid #609ce8;
    box-shadow: 0 -1px 2px #5c95e8 inset;
}

.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task.taskCompleted.nash-task-type-play {
    border: 1px solid #ec3e66;
    box-shadow: 0 -1px 2px #ec4770 inset;
}

.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task.taskCompleted.nash-task-type-sport {
    border: 1px solid #ec9b2f;
    box-shadow: 0 -1px 2px #ec9a38 inset;
}


.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task i.fa{
    font-size: 40px;
    margin-top: 2px;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task .nash-calendar-day-task-name{
    font-size: 10px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task .nash-calendar-day-task-status{
    font-size: 11px;
    font-weight: bold;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task .nash-calendar-day-task-duration{
    font-size: 18px;
    font-family: "Courier New";
}

.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task .nash-calendar-day-taskFunc{
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .55);
    bottom: 0;
    top: 0;
    z-index: 1;
    color: white;
    text-align: center;
    display: none;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task:hover .nash-calendar-day-taskFunc{
    display: block;
    opacity: 0.9;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task .nash-calendar-day-taskFunc-buttons{
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 100%;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task .nash-taskFunc-button{
    cursor: pointer;
    margin: 0 2px;
}

.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-taskFunc-start{

}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-taskFunc-started{
    display: none;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task.running .nash-calendar-day-taskFunc-start{
    display: none;
}
.nash-calendar-container .nash-calendar-day .nash-calendar-day-tasks .nash-calendar-day-task.running .nash-calendar-day-taskFunc-started{
    display: block;
}


/* New task modal */
.nash-modal-closeBtn{
    margin: 5px 10px;
}
.nash-newTask-modalBody {
    margin-top: 30px;
    text-align: center;
}

.nash-newTask-modalBody .nash-taskType-selection {
    display: inline-block;
    margin: 0 3px;
    transition: background 0.15s linear;
}
.nash-newTask-modalBody .nash-taskType-selection .nash-taskType-icon{
    width: 48px;
    border: 1px solid #3C3C3C;
    height: 48px;
    font-size: 32px;
    line-height: 44px;
    border-radius: 48px;
    cursor: pointer;
}
.nash-newTask-modalBody .nash-taskType-selection .nash-taskType-label{
    font-size: 11px;
    color: #3C3C3C;
    opacity: 0;
    transition: opacity 0.15s linear;
    margin-top: 3px;
}
.nash-newTask-modalBody .nash-taskType-selection.selected .nash-taskType-icon{
    color: white;
    border-color: #80047f;
    background: purple;
}
.nash-newTask-modalBody .nash-taskType-selection.selected .nash-taskType-label{
    opacity: 1;
}
.nash-newTask-modalBody .nash-newTask-inputs{
    display: inline-block;
    width: 85%;
    text-align: center;
    margin: 12px 5px;
}
.nash-newTask-modalBody .nash-newTask-inputs label{
    margin-right: 5px;
}
.nash-newTask-modalBody .nash-newTask-inputs input[type=text]{
    max-width: 300px;
    display: inline-block;
}
.nash-newTask-modalBody .nash-newTask-inputs input[type=text]:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 4, 127, 0.60);
    border-color: #80047f;
}

.nash-newTask-modalFooter{
    border: none;
}

/* Stats */
.nash-stats-container{
    border-top: 1px solid #eee;
    padding-bottom: 20px;
}
/* Month */
.nash-stats-container .nash-stats-month{

}
.nash-stats-container .nash-stats-month .nash-stats-month-mainText b,
.nash-stats-container .nash-stats-day .nash-stats-day-mainText b{
    color: #80047f;
}

/* Day */
.nash-stats-container .nash-stats-day{

}

/* TEMP - delete me later */
.bg{
    position: relative;
    padding: 30px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}



/* Media queries */
@media (max-width: 767px) {
    .nash-header-content .nash-header-datedisplay {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .nash-header-content .nash-header-datedisplay {
        font-size: 22px;
    }
}