<h2 class="nash-stats-month-mainText">${mainText}</h2>
<div class="row">
    <div class="col-md-6">
        <div id="nash-stats-month-chart-a"></div>
    </div>
    <div class="col-md-6">
        <div id="nash-stats-month-chart-b"></div>
    </div>
</div>

