<div class="nash-header-datedisplay"></div>
<div class="nash-header-calendarType">
    <button class="nash-calendar-dateNav" id="nash-calendar-prevNav">
        <i class="fa fa-angle-left"></i>
    </button>
    <div class="btn-group" role="group">
        <button type="button" id="nash-switchCalendarType-day-button" class="btn btn-default">Day</button>
        <button type="button" id="nash-switchCalendarType-month-button" class="btn btn-default">Month</button>
    </div>
    <button class="nash-calendar-dateNav" id="nash-calendar-nextNav">
        <i class="fa fa-angle-right"></i>
    </button>
</div>
<div class="nash-header-switchView">
    <i id="nash-header-switchView-btn" class="fa fa-line-chart"></i>
</div>