<div class="modal-dialog newTaskModalTrans">
    <div class="modal-content">
        <button type="button" class="close nash-modal-closeBtn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body nash-newTask-modalBody">
            <div id="nash-taskType-selections" class="nash-noSelect">
                <div class="nash-taskType-selection" data-tasktype="0">
                    <div class="nash-taskType-icon">
                        <i class="fa fa-suitcase"></i>
                    </div>
                    <div class="nash-taskType-label">Work</div>
                </div>
                <div class="nash-taskType-selection" data-tasktype="1">
                    <div class="nash-taskType-icon">
                        <i class="fa fa fa-book"></i>
                    </div>
                    <div class="nash-taskType-label">Learn</div>
                </div>
                <div class="nash-taskType-selection" data-tasktype="2">
                    <div class="nash-taskType-icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <div class="nash-taskType-label">Play</div>
                </div>
                <div class="nash-taskType-selection" data-tasktype="3">
                    <div class="nash-taskType-icon">
                        <i class="fa fa-bicycle"></i>
                    </div>
                    <div class="nash-taskType-label">Sport</div>
                </div>
            </div>
            <!--<form class="">-->
                <div class="nash-newTask-inputs">
                    <label for="nash-taskNameInput">What's up?</label>
                    <input id="nash-taskNameInput" class="form-control" type="text" placeholder="" />
                </div>
            <!--</form>-->
        </div>
        <div class="modal-footer nash-newTask-modalFooter">
            <button type="button" class="btn btn-primary nash-btn" id="nash-task-addBtn">Add Task</button>
        </div>
    </div>
</div>
