<td class="nash-dayInMonth ${cssClass}" data-dayinmonth="${date}">
    <div class="nash-dayInMonth-container">
        <span class="nash-dayInMonth-addTaskToDate"><i class="fa fa-plus"></i></span>
        <span class="nash-dayInMonth-date">${date}</span>
        <div class="nash-dayInMonth-tasks">${tasks}</div>
    </div>
</td>