<div class="nash-calendar-month-container nash-noSelect">
    <table class="nash-calendar-month-table">
        <thead>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        </thead>
        <tbody id="nash-calendar-daysinmonth"></tbody>
    </table>
</div>