<div class="nash-calendar-day-taskFunc">
    <div class="nash-calendar-day-taskFunc-buttons">
        <div class="nash-calendar-day-taskFunc-start">
        <span class="nash-taskFunc-button nash-taskFunc-startTask">
            <i class="fa fa-play-circle-o"></i>
        </span>
        </div>
        <div class="nash-calendar-day-taskFunc-started">
        <span class="nash-taskFunc-button nash-taskFunc-pauseTask">
            <i class="fa fa-pause"></i>
        </span>
        <span class="nash-taskFunc-button nash-taskFunc-completeTask">
            <i class="fa fa-check"></i>
        </span>
        </div>
    </div>
</div>