<div class="nash-calendar-day-task nash-task-type-${taskClass} ${taskCompletedClass}" data-taskid="${uid}">
    <div class="nash-calendar-day-task-name">${name}</div>
    <i class="fa ${iconClass}"></i>
    <div class="nash-calendar-day-task-status">${status}</div>
    <div class="nash-calendar-day-task-duration">${duration}</div>
</div>